waves_per_run=10
lobby_play_btn_pos=(154, 480)
lobby_play_btn_color=(29, 243, 232)
cancel_map_btn_pos=(961, 878)
cancel_map_btn_color=(238, 0, 0)
start_map_btn_pos=(1053, 797)
start_map_btn_color=(48, 234, 0)
start_wave_btn_pos=(934, 178)
start_wave_btn_color=(37, 208, 0)
wave_cmplt_label_pos=(1205, 774)
wave_cmplt_label_color=(95, 255, 71)
disconnected_dialog_box_pos=(987, 619)
disconnected_dialog_box_color=(57, 59, 61)
defeat_label_pos=(615, 284)
defeat_label_color=(222, 0, 0)
hp_zero_bar_pos=(603, 67)
hp_zero_bar_color=(25, 22, 22)